body {
    background-image: url('images/madlibscake.png');
    background-repeat: no-repeat;
/*     background-position:  center;
 */ background-color: #E5C2C2;
    background-size: 100%;
    

}

h1 {
  font-size: 100px;
  font-family: "Luxurious Script", cursive;
  margin-left: 140px;
}


h2 {
    font-family: "Baskervville", serif;
}

form {
    display:block;
    background-color: #FAE4E4;
    width: 300px;
    height: 100%;
    border-radius: 15px;
    float: right;
    margin-right: 200px;
    margin-top: -150px;
    margin-bottom: 50px;
    box-shadow: -15px -15px 5px #CAD2C5;
   
}

form input,
form textarea,
form select {
  background-color: #D9D9D9; 
  border: none;               
  border-radius: 8px;         
  padding: 5px;             
  width: 95%;  
  margin: 1px 0;            
  font-size: 14px;
}

form p {
    margin: 20px;

}

 button {
    background-color: #d1d7cd ;
    border-radius: 15px;
    width: 30%;
    height: 40px;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: center;
    border: none;

}

 button:hover {
    background-color: #CAD2C5 ;

}

 button p {
    text-align: center;
    margin: 0;
}

 button p a {
    text-decoration: none;
    color: black;
}

form h2 {
    margin:20px;
}

/* results */

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}
#overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;

}

#overlay article {
    box-sizing: border-box;
    background-color: #E5C2C2;
    padding: 20px;
    width: 50vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    justify-content: center;
    position: absolute;
}


#overlay article h2 {
    font-family: "Baskervville", serif;
    text-align: left; 
    width: 100%;      
    margin-left: 20px; 
    padding-left: 30px;
}


#overlay article p {
    display:block;
    background-color: #FAE4E4;
    width: 80%;
    height: 200px;
    border-radius: 15px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: -15px -15px 5px #CAD2C5;
}

#overlay article button {
    margin:40px;
    margin-right:18px;
    
}

#overlay article img {
    width: 20%;
    height: 30%;
    margin: 0 ;
    position: absolute;
    z-index: 1;
/*     right: 30px;*/ 
    left: 30px;   
    top: 50px;

}
