body {
    font-family: Arial;
    color: #666;
    text-align: center;
}

#container {
    width: 800px;
    height: 547px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

#container div {
    position: absolute;
    width: 30px;
    height: 100px;
}

#container img {
    display: block;
    position: absolute;
    transition: all 5s ease;
}

#bottom1 {
    bottom: 110px;
    left: 110px;
}

#bottom2 {
    bottom: 90px;
    left: 210px;
}

#bottom3 {
    bottom: 90px;
    left: 310px;
}

#bottom4 {
    bottom: 100px;
    left: 430px;
}

#bottom5 {
    bottom: 105px;
    left: 550px;
}

#bottom6 {
    bottom: 100px;
    left: 660px;
}

.start {
    width: 800px;
    left: 0;
    top: 0;
}

.bottom1,
.bottom2,
.bottom3,
.bottom4,
.bottom5,
.bottom6 {
    width: 2500px;
}

.bottom1 {
    width: 2000px;
    bottom: -300px;
    left: -100px;
}

.bottom2 {
    width: 2500px;
    bottom: -320px;
    left: -300px;
}

.bottom3 {
    width: 2500px;
    bottom: -320px;
    left: -600px;
}

.bottom4 {
    width: 2500px;
    bottom: -340px;
    left: -980px;
}

.bottom5 {
    width: 2500px;
    bottom:-340px;
    left: -1300px;
}

.bottom6 {
    width: 2500px;
    bottom: -330px;
    left: -1700px;
}
