body {
    background-color: rgb(254, 254, 248);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

article {
    box-sizing: border-box;
    width: 700px;
    border: 4px solid #e8dfd5;
    display: block;   
    background-color: #f0e9e2; 
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    opacity: 0;
    transition: 1s;

}

.sections {
    display: flex;
}




.show {
    opacity: 1; 
    transition: 1s; 
}

.description h2, p {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

article button {
    margin-top: 20px;
}