body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 224, 224);
    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;  
    justify-content: space-between; 
    align-items: flex-start;
    background-image: url('images/greenleaves.PNG'); 
    width: 1100px;
    height: 650px;
    border-radius: 10px;
    gap: 20px;
    position: relative;
   
}

.gamecontent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-grow: 1;
 }


.player1 {
    margin: auto;
    margin-left: 0;
    display: block;
    background-color: #ebdcc9; 
    width: 270px;
    height: 500px;
    border: 2px solid #7E92BB;
    border-radius: 20px;
}

.player2 {
    display: block;
    background-color: #ebdcc9;
    width: 260px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid #7E92BB;
    margin: auto;
}

.howtoplay {
    width: 250px;
    height: 650px;
    background-color: #5a4444;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.howtoplay h1 {
    text-align: center;
    font-size: 36px;
    font-family: gugi;
    margin: 30px ;
    margin-top: 50px ;
    padding: 0;
}

.howtoplay h2 {
    text-align: left;
    font-size: 16px;
    font-family: gugi;
    margin: 20px ;
    margin-top: 60px;
    margin-left: 20px;
    padding: 0;
}

.howtoplay li {
    text-align: left;
    font-size: 14px;
    font-family: gugi;
    margin: 5px;
    margin-right: 20px;
    padding: 0;
}

.middlecontent {
    width: 150px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .diceandbuttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 }

 #game img {
    display: block;
    margin: 5px 0;
    width: 100px;
    height: 100px;
 }

 #actions button {
    display: block;
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    font-family: gugi;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
 }

 #startgame, #quit {
    display: block;
    width: 180px;
    padding: 10px;
    font-family: gugi;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    margin: 30px;
    margin-top: 25px;
 }

#startgame, #roll, #rollagain {
    color: rgb(255, 255, 255);
    background-color: #92CEBA;
    border-color: rgb(96, 138, 97);
}

#roll2 {
    color: rgb(255, 255, 255);
    background-color: rgba(146, 206, 186, 0.7);
    border-color: rgb(96, 138, 97, 0.7) ;
}

#quit, #pass {
    color: rgb(255, 255, 255);
    background-color: #F4738A;
    border-color: #c15d6f;
}



img {
    display: block;
    margin: 10px auto;    
 }

h2, p {
    text-align: center;
    font-family: gugi;
}

p {
    font-size: 26px; 
    padding-top: 0px;
    margin: 0;
}

.player1 p, .player2 p {
    font-size: 60px; 
    padding-top: 0px;
    margin: 0;
    font-family: gugi;
}

ol {
    font-family: gugi;

}

footer p a {
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 90px;
    margin: 0;
    text-decoration: none;
}
