* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --sliderwidth: 0;
}

body {
    height: 500vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Helvetica;
    color: rgb(211,211,211);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;;
    align-items: center;
    transition: background-image 0.6s ease-in-out;

}


header {
    height: 150px;
    margin-top: 148px;
    width: 100%;
    background-color: rgba(245, 245, 220);
    display: grid;
    place-content: center;
    text-align: center;
    padding: 10px;
}

h1 {
    color: #382998;
    font-family: cherry bomb one;
    font-size: 50px;
}


h2 {
    font-family: cherry bomb one;
    font-size: 36px;
    color:#382998;
}

p {
    color:#5b4fab;
    font-family: sniglet;
}


#imgstack {
    width: 100vw;
    height: 300px;
    overflow-x: hidden;
    background-color: beige;
    box-sizing: border-box;
    padding: 10px 50px;
}

.slider {
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    height: 200px;
    min-width: 200%;
    background-color: beige;
}

.slider div img {
    height: 100%;
    display: block;
    margin-right: 20px;
    border-radius: 20px;;
}

.one, .two {
   display: flex;
   height: 100%;
}

@keyframes moveSlider {
    from { left: var(--sliderwidth); }
    to { left: 0; }
}
.animate {
    animation-name: moveSlider;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#container1, #container2, #container3, #container4, #container5, #container6 {
    width: 350px;
    height: 100vh;
    perspective: 800px;
    transition: all 1s;

}

#container1:hover >.card, #container2:hover > .card, #container3:hover > .card, #container4:hover > .card, #container5:hover > .card, #container6:hover > .card {
    cursor:pointer;
    transform: rotateY(180deg);
}

.container {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.card {
    height: 380px;
    width: 300px;
    perspective: 1000px;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    gap: 2rem;
}


.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px;
    position: absolute;
    backface-visibility: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.front {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.back {
    background-color: beige;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    text-align: center;
    padding: 20px;
}


